In [1]:
import warnings
import pandas as pd
from datetime import datetime
from datetime import date
import sqlalchemy as sql
from pathlib import Path
warnings.filterwarnings('ignore')  # Hide warnings
#Library - Project3 
import CryptoDownloadData as coinData
import CryptoPerfSummary as coinAnalytic
from dateutil.relativedelta import relativedelta
#DataBase Tables
# Database connection string
crypto_data_connection_string = 'sqlite:///./Reference/crypto.db'
# Database engine
crypto_data_engine = sql.create_engine(crypto_data_connection_string, echo=True)
'COINBASE_100' #CoinList - symbols
'ETF_LIST' #Sample ETF
'CRYPTO_PX_HISTORY' #Crypto PX History

# If need to repopulate database sqllite, please set refresh = True
refresh = False

In [ ]:
# Download all price history for Coin List 100 into CRYPTO_PX_HISTORY
# If need to rerun, please change refresh = True
if refresh == True:
    file_path = Path('./Reference/sampleETF.csv')
    coinData.create_index_from_csv(file_path, 'ETF_LIST')
    file_path = Path('./Reference/Coinbase100.csv')
    coinData.create_index_from_csv(file_path, 'COINBASE_100')
    coinData.drop_table('CRYPTO_PX_HISTORY')
    start_date = datetime(2015, 1, 1)
    end_date = datetime.today()
    coinData.download_px_data_from_COINBASE_100(start_date, end_date)

In [28]:
#Calculate index Weight based on the date
if refresh == True:
    #coinData.drop_table('CRYPTO_ETF_WEIGHT')
    t_date = datetime.today()
    start_date = t_date + relativedelta(days=-365)
    end_date = datetime.Today()
    #coinData.drop_table('CRYPTO_ETF_WEIGHT')

    coinData.calculate_save_etf_weight('Ventidex', start_date, end_date)
    coinData.calculate_save_etf_weight('Farmdex', start_date, end_date)
    coinData.calculate_save_etf_weight('Metadex', start_date, end_date)

In [48]:
t_date = date(2022, 3, 2)
sql_query = f"""
SELECT * FROM PX_SUMMARY_CACHE where [A/O Date] = '{t_date}'"""# where date = '{t_date}' and ETF = '{etf_name}'"""
print(sql_query)
summary_list= pd.read_sql_query(sql_query, crypto_data_connection_string)
summary_list.set_index('symbol', inplace=True)
display(summary_list)
print(len(summary_list) == 0)
curr_weight = coinData.get_etf_weight_by_date(etf_name, t_date)
selected_px_strat = pd.merge(summary_list, curr_weight,left_on='Name',right_on='symbol')
display(selected_px_strat)

SELECT * FROM PX_SUMMARY_CACHE where [A/O Date] = '2022-03-02'

,A/O Date,Name,Cur_PX,1_Day,1_Week,1_Month,3_Months,YTD,1_Year,2_Years,3_Years,Start_Date,Since_Intercept,Start_PX,Return
symbol,,,,,,,,,,,,,,,
1INCH,2022-03-02,1INCH,1.49734532833099,-1.41708820607671,5.23564078312422,-12.3018864183243,-59.3215051334863,-40.8219829802182,-63.6225124111549,--,--,2021-07-15 00:00:00.000000,-63.6225124111549,4.11613178253174,-55.3959665955619
AAVE,2022-03-02,AAVE,137.439895629883,-4.18714611063421,1.99421388994796,-16.1789562325752,-45.2488043620248,-48.2335312168567,-64.3401975639126,--,--,2021-07-15 00:00:00.000000,-64.3401975639126,385.419677734375,-66.7936229087354
ADA,2022-03-02,ADA,0.943180799484253,-1.99151007337221,6.09255103675907,-13.3602787548018,-39.0597110502699,-31.5034217235292,-27.0203045085956,1953.4286062108,2079.30360595434,2021-07-15 00:00:00.000000,-27.0203045085956,1.29238796234131,-67.1453391656915
ALGO,2022-03-02,ALGO,0.820553302764893,--,--,-15.1527732049763,-58.3029943239298,--,-24.6132283944391,156.672356057617,--,2021-07-15 00:00:00.000000,-24.6132283944391,1.08845794200897,-29.1927523201916
ALICE,2022-03-02,ALICE,7.46715784072876,-5.06849114104779,9.64957333002279,1.47126470148566,-65.6132609025605,-44.0802004801319,--,--,--,2021-07-15 00:00:00.000000,--,--,-59.1681733297942
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
XTZ,2022-03-02,XTZ,3.49703764915466,0.215467190959233,13.9406755928607,-6.82427946645106,-32.9291960341102,-26.2301035660686,-3.76973685807544,33.3173393428806,749.50897774936,2021-07-15 00:00:00.000000,-3.76973685807544,3.63403105735779,-35.5233585437873
XYM,2022-03-02,XYM,0.148414134979248,-2.49319281383568,0.343548996131699,-18.679412784585,-57.3287177070391,-33.5963547514266,--,--,--,2021-07-15 00:00:00.000000,--,--,8.66302496557061
YFI,2022-03-02,YFI,22207.078125,2.49012621943387,7.60159670211739,-12.745084496653,-23.2381107595434,-39.0171516446616,-36.2633090002072,--,--,2021-07-15 00:00:00.000000,-36.2633090002072,34841.90625,-44.5098546776191
YGG,2022-03-02,YGG,3.12949204444885,-2.72153552161023,10.5811583639229,-6.56452956889553,-64.7334982788088,-43.9189795422409,--,--,--,2021-07-15 00:00:00.000000,--,--,-64.0553948285936
ZEC,2022-03-02,ZEC,127.950218200684,7.36996924876642,24.4408351246164,29.3512603553874,-44.2735433581486,-14.6721913934297,4.79383615180896,159.647267387038,144.712751606363,2021-07-15 00:00:00.000000,4.79383615180896,122.09708404541,-15.5202203617399

False

,A/O Date,Name,Cur_PX,1_Day,1_Week,1_Month,3_Months,YTD,1_Year,2_Years,3_Years,Start_Date,Since_Intercept,Start_PX,Return,date,ETF,symbol,weight
0,2022-03-02,AAVE,137.439895629883,-4.18714611063421,1.99421388994796,-16.1789562325752,-45.2488043620248,-48.2335312168567,-64.3401975639126,--,--,2021-07-15 00:00:00.000000,-64.3401975639126,385.419677734375,-66.7936229087354,2022-03-03 00:00:00.000000,Farmdex,AAVE,0.039297
1,2022-03-02,CAKE,6.83178806304932,1.00009657796768,-4.84311062709723,-11.3289610411312,-49.3373325138083,-43.22691398036,-47.771713585116,--,--,2021-07-15 00:00:00.000000,-47.771713585116,13.0806283950806,-71.7554849837405,2022-03-03 00:00:00.000000,Farmdex,CAKE,0.069097
2,2022-03-02,CRV,2.65624809265137,4.49182789456383,10.7231417586824,-23.4623811526858,-46.7465891583436,-57.2412669783009,33.1270508137893,--,--,2021-07-15 00:00:00.000000,33.1270508137893,1.99527299404144,14.8196444841933,2022-03-03 00:00:00.000000,Farmdex,CRV,0.272864
3,2022-03-02,REEF,0.00978756137192249,-4.25940453114884,-1.21556959286314,-4.92898065997164,-60.67673213464,-47.604063079054,-69.6725996820811,--,--,2021-07-15 00:00:00.000000,-69.6725996820811,0.0322729982435703,-61.0987222668717,2022-03-03 00:00:00.000000,Farmdex,REEF,0.012661
4,2022-03-02,RGT,17.6536159515381,-2.77628557844964,3.06593914423318,-16.0791379985215,-32.7953936901618,-34.4597641407225,87.775666039502,--,--,2021-07-15 00:00:00.000000,87.775666039502,9.40143966674805,-1.83124451845855,2022-03-03 00:00:00.000000,Farmdex,RGT,0.090539
5,2022-03-02,RLY,0.220687836408615,-1.18750256036558,-5.3658264160164,-4.25192018406252,-58.4345052227316,-36.5961594939375,-15.6350118594304,--,--,2021-07-15 00:00:00.000000,-15.6350118594304,0.261586993932724,-69.1413431004598,2022-03-03 00:00:00.000000,Farmdex,RLY,0.024398
6,2022-03-02,SNX,3.99313187599182,-4.33868965711044,-0.339656862132553,-25.7955692157845,-46.0887798387518,-33.1312587601382,-80.6621491157133,395.716095514179,8413.59601119199,2021-07-15 00:00:00.000000,-80.6621491157133,20.6493053436279,-68.089732422898,2022-03-03 00:00:00.000000,Farmdex,SNX,0.225091
7,2022-03-02,SUSHI,3.40319538116455,-1.8355549567865,0.252498843770072,-21.6802673289242,-54.9912621970881,-62.734954034149,-81.8955652998449,--,--,2021-07-15 00:00:00.000000,-81.8955652998449,18.7975788116455,-75.5100145841493,2022-03-03 00:00:00.000000,Farmdex,SUSHI,0.266053

In [33]:
display(px_strat)

,A/O Date,Name,Cur_PX,1_Day,1_Week,1_Month,3_Months,YTD,1_Year,2_Years,3_Years,Start_Date,Since_Intercept,Start_PX,Return
symbol,,,,,,,,,,,,,,,
1INCH,2022-03-02,1INCH,1.497345,-1.417088,5.235641,-12.301886,-59.321505,-40.821983,-63.622512,--,--,2021-07-15,-63.622512,4.116132,-55.395967
AAVE,2022-03-02,AAVE,137.439896,-4.187146,1.994214,-16.178956,-45.248804,-48.233531,-64.340198,--,--,2021-07-15,-64.340198,385.419678,-66.793623
ADA,2022-03-02,ADA,0.943181,-1.99151,6.092551,-13.360279,-39.059711,-31.503422,-27.020305,1953.428606,2079.303606,2021-07-15,-27.020305,1.292388,-67.145339
ALGO,2022-03-02,ALGO,0.820553,--,--,-15.152773,-58.302994,--,-24.613228,156.672356,--,2021-07-15,-24.613228,1.088458,-29.192752
ALICE,2022-03-02,ALICE,7.467158,-5.068491,9.649573,1.471265,-65.613261,-44.0802,--,--,--,2021-07-15,--,--,-59.168173
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
XTZ,2022-03-02,XTZ,3.497038,0.215467,13.940676,-6.824279,-32.929196,-26.230104,-3.769737,33.317339,749.508978,2021-07-15,-3.769737,3.634031,-35.523359
XYM,2022-03-02,XYM,0.148414,-2.493193,0.343549,-18.679413,-57.328718,-33.596355,--,--,--,2021-07-15,--,--,8.663025
YFI,2022-03-02,YFI,22207.078125,2.490126,7.601597,-12.745084,-23.238111,-39.017152,-36.263309,--,--,2021-07-15,-36.263309,34841.90625,-44.509855
YGG,2022-03-02,YGG,3.129492,-2.721536,10.581158,-6.56453,-64.733498,-43.91898,--,--,--,2021-07-15,--,--,-64.055395
ZEC,2022-03-02,ZEC,127.950218,7.369969,24.440835,29.35126,-44.273543,-14.672191,4.793836,159.647267,144.712752,2021-07-15,4.793836,122.097084,-15.52022

In [27]:
px_strat = coinData.get_base_pxchanges_matrix()
coinData.drop_table('PX_SUMMARY_CACHE')
px_strat.to_sql('PX_SUMMARY_CACHE', crypto_data_engine, index=True, if_exists='append')

2022-03-02 21:47:16,564 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("PX_SUMMARY_CACHE")
2022-03-02 21:47:16,565 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-02 21:47:16,567 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("PX_SUMMARY_CACHE")
2022-03-02 21:47:16,567 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-02 21:47:16,571 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-03-02 21:47:16,573 INFO sqlalchemy.engine.Engine
CREATE TABLE "PX_SUMMARY_CACHE" (
	symbol TEXT,
	"A/O Date" DATE,
	"Name" TEXT,
	"Cur_PX" TEXT,
	"1_Day" TEXT,
	"1_Week" TEXT,
	"1_Month" TEXT,
	"3_Months" TEXT,
	"YTD" TEXT,
	"1_Year" TEXT,
	"2_Years" TEXT,
	"3_Years" TEXT,
	"Start_Date" DATETIME,
	"Since_Intercept" TEXT,
	"Start_PX" TEXT,
	"Return" TEXT
)


2022-03-02 21:47:16,574 INFO sqlalchemy.engine.Engine [no key 0.00077s] ()
2022-03-02 21:47:16,581 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_PX_SUMMARY_CACHE_symbol" ON "PX_SUMMARY_CACHE" (symbol)
2022-03-02 21:47:16,582 INFO sqlalchemy.engine.Engine [no key 0.00091s] ()
2022-03-02 21:47:16,591 INFO sqlalchemy.engine.Engine COMMIT
2022-03-02 21:47:16,603 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-03-02 21:47:16,612 INFO sqlalchemy.engine.Engine INSERT INTO "PX_SUMMARY_CACHE" (symbol, "A/O Date", "Name", "Cur_PX", "1_Day", "1_Week", "1_Month", "3_Months", "YTD", "1_Year", "2_Years", "3_Years", "Start_Date", "Since_Intercept", "Start_PX", "Return") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2022-03-02 21:47:16,613 INFO sqlalchemy.engine.Engine [generated in 0.00761s] (('1INCH', '2022-03-02', '1INCH', 1.4973453283309937, -1.4170882060767132, 5.235640783124217, -12.301886418324282, -59.32150513348632, -40.821982980218216, -63.62251241115485, '--', '--', '2021-07-15 00:00:00.000000', -63.62251241115485, 4.116131782531738, -55.395966595561916), ('AAVE', '2022-03-02', 'AAVE', 137.4398956298828, -4.187146110634206, 1.9942138899479558, -16.178956232575207, -45.24880436202481, -48.233531216856655, -64.34019756391261, '--', '--', '2021-07-15 00:00:00.000000', -64.34019756391261, 385.419677734375, -66.79362290873536), ('ADA', '2022-03-02', 'ADA', 0.9431807994842529, -1.9915100733722062, 6.092551036759071, -13.360278754801774, -39.0597110502699, -31.503421723529172, -27.02030450859562, 1953.4286062108017, 2079.303605954336, '2021-07-15 00:00:00.000000', -27.02030450859562, 1.2923879623413086, -67.14533916569152), ('ALGO', '2022-03-02', 'ALGO', 0.8205533027648926, '--', '--', -15.15277320497632, -58.30299432392975, '--', -24.61322839443908, 156.67235605761658, '--', '2021-07-15 00:00:00.000000', -24.61322839443908, 1.0884579420089722, -29.192752320191584), ('ALICE', '2022-03-02', 'ALICE', 7.46715784072876, -5.068491141047788, 9.649573330022791, 1.4712647014856561, -65.61326090256048, -44.08020048013189, '--', '--', '--', '2021-07-15 00:00:00.000000', '--', '--', -59.168173329794186), ('AMP', '2022-03-02', 'AMP', 0.02829005941748619, -1.821759432085526, 6.217838705030135, -6.206285393161285, -52.756202118875834, -42.91985882952133, 18.596708442005202, '--', '--', '2021-07-15 00:00:00.000000', 18.596708442005202, 0.023854000493884087, -48.21800023101942), ('AR', '2022-03-02', 'AR', 31.66635513305664, -6.493807702540832, 20.74200418189703, -20.751506229695373, -44.88531951416006, -52.066774592011704, 195.47476957926636, '--', '--', '2021-07-15 00:00:00.000000', 195.47476957926636, 10.717109680175781, -48.318181857800965), ('ATOM', '2022-03-02', 'ATOM', 32.40272521972656, 4.128604314601226, 30.33170665093431, 11.980056529350968, 21.315671570273405, -10.416616131628043, 74.11005186500218, 861.9976373854554, '--', '2021-07-15 00:00:00.000000', 74.11005186500218, 18.610485076904297, 27.81132114366589)  ... displaying 10 of 124 total bound parameter sets ...  ('YGG', '2022-03-02', 'YGG', 3.1294920444488525, -2.7215355216102255, 10.58115836392292, -6.564529568895525, -64.7334982788088, -43.91897954224085, '--', '--', '--', '2021-07-15 00:00:00.000000', '--', '--', -64.05539482859356), ('ZEC', '2022-03-02', 'ZEC', 127.9502182006836, 7.369969248766417, 24.440835124616388, 29.351260355387392, -44.273543358148586, -14.672191393429653, 4.793836151808956, 159.64726738703817, 144.71275160636284, '2021-07-15 00:00:00.000000', 4.793836151808956, 122.09708404541016, -15.5202203617399))
2022-03-02 21:47:16,620 INFO sqlalchemy.engine.Engine COMMIT
2022-03-02 21:47:16,632 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-03-02 21:47:16,633 INFO sqlalchemy.engine.Engine [raw sql] ()

In [22]:
display(px_strat)

,A/O Date,Name,Cur_PX,1_Day,1_Week,1_Month,3_Months,YTD,1_Year,2_Years,3_Years,Start_Date,Since_Intercept,Start_PX,Return
symbol,,,,,,,,,,,,,,,
1INCH,2022-03-02,1INCH,1.497345,-1.417088,5.235641,-12.301886,-59.321505,-40.821983,-63.622512,--,--,2021-07-15,-63.622512,4.116132,-55.395967
AAVE,2022-03-02,AAVE,137.439896,-4.187146,1.994214,-16.178956,-45.248804,-48.233531,-64.340198,--,--,2021-07-15,-64.340198,385.419678,-66.793623
ADA,2022-03-02,ADA,0.943181,-1.99151,6.092551,-13.360279,-39.059711,-31.503422,-27.020305,1953.428606,2079.303606,2021-07-15,-27.020305,1.292388,-67.145339
ALGO,2022-03-02,ALGO,0.820553,--,--,-15.152773,-58.302994,--,-24.613228,156.672356,--,2021-07-15,-24.613228,1.088458,-29.192752
ALICE,2022-03-02,ALICE,7.467158,-5.068491,9.649573,1.471265,-65.613261,-44.0802,--,--,--,2021-07-15,--,--,-59.168173
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
XTZ,2022-03-02,XTZ,3.497038,0.215467,13.940676,-6.824279,-32.929196,-26.230104,-3.769737,33.317339,749.508978,2021-07-15,-3.769737,3.634031,-35.523359
XYM,2022-03-02,XYM,0.148414,-2.493193,0.343549,-18.679413,-57.328718,-33.596355,--,--,--,2021-07-15,--,--,8.663025
YFI,2022-03-02,YFI,22207.078125,2.490126,7.601597,-12.745084,-23.238111,-39.017152,-36.263309,--,--,2021-07-15,-36.263309,34841.90625,-44.509855
YGG,2022-03-02,YGG,3.129492,-2.721536,10.581158,-6.56453,-64.733498,-43.91898,--,--,--,2021-07-15,--,--,-64.055395
ZEC,2022-03-02,ZEC,127.950218,7.369969,24.440835,29.35126,-44.273543,-14.672191,4.793836,159.647267,144.712752,2021-07-15,4.793836,122.097084,-15.52022

In [20]:
display(px_strat['Start_PX'])

symbol
1INCH       4.116132
AAVE      385.419678
ADA         1.292388
ALGO        1.088458
ALICE             --
            ...
XTZ         3.634031
XYM               --
YFI      34841.90625
YGG               --
ZEC       122.097084
Name: Start_PX, Length: 124, dtype: object

In [15]:
t_date = date(2022, 3, 2)
etf_name = 'Farmdex'
weight_df = coinData.get_etf_weight_by_date(etf_name, t_date)
display(weight_df)

                         date      ETF symbol    weight
0  2022-03-03 00:00:00.000000  Farmdex   CAKE  0.069097
1  2022-03-03 00:00:00.000000  Farmdex   AAVE  0.039297
2  2022-03-03 00:00:00.000000  Farmdex    CRV  0.272864
3  2022-03-03 00:00:00.000000  Farmdex    RLY  0.024398
4  2022-03-03 00:00:00.000000  Farmdex    SNX  0.225091
5  2022-03-03 00:00:00.000000  Farmdex  SUSHI  0.266053
6  2022-03-03 00:00:00.000000  Farmdex    RGT  0.090539
7  2022-03-03 00:00:00.000000  Farmdex   REEF  0.012661

In [11]:
t_date = datetime(2022, 3, 2)
etf_name = 'Ventidex'
sql_query = f"""
SELECT date, ETF, symbol, weight FROM CRYPTO_ETF_WEIGHT"""# where date = '{t_date}' and ETF = '{etf_name}'"""
print(sql_query)
weight_list= pd.read_sql_query(sql_query, crypto_data_connection_string)
display(weight_list)

SELECT date, ETF, symbol, weight FROM CRYPTO_ETF_WEIGHT

                           date       ETF symbol    weight
0    2021-07-10 00:00:00.000000  Ventidex    BTC  0.050031
1    2021-07-10 00:00:00.000000  Ventidex    ETH  0.000560
2    2021-07-10 00:00:00.000000  Ventidex    BNB  0.154682
3    2021-07-10 00:00:00.000000  Ventidex   USDC  0.031944
4    2021-07-10 00:00:00.000000  Ventidex    XRP  0.016268
..                          ...       ...    ...       ...
336  2021-07-20 00:00:00.000000   Metadex    ONT  0.095324
337  2021-07-20 00:00:00.000000   Metadex    UOS  0.152605
338  2021-07-20 00:00:00.000000   Metadex    PLA  0.100605
339  2021-07-20 00:00:00.000000   Metadex   CEEK  0.009291
340  2021-07-20 00:00:00.000000   Metadex    CHR  0.017854

[341 rows x 4 columns]

In [ ]:
t_date = date(2022, 1, 1)
etf_name = 'Ventidex'
sql_query = f"""
DELETE FROM CRYPTO_ETF_WEIGHT where date >= '{t_date}'"""
print(sql_query)
weight_list= pd.read_sql_query(sql_query, crypto_data_connection_string)
display(weight_list)

In [ ]:
# Pull Price by Name        
px_history_df = coinData.get_px_history('DPI')
display(px_history_df.head())
display(px_history_df.tail())

In [ ]:
t_date = datetime(2022, 2, 26)
a = coinData.get_market_datas_by_period(t_date)
a

In [ ]:
return_matrix = coinData.get_base_pxchanges_matrix()
display(return_matrix)

In [ ]:
sql_query = """
SELECT max(date) date FROM CRYPTO_PX_HISTORY order by date desc"""
t_date_str= pd.read_sql_query(sql_query, crypto_data_connection_string)
t_date_str.iat[0,0]
#print(type(t_date))
t_date = datetime.strptime(t_date_str.iat[0,0], '%Y-%m-%d').date()
date_list = coinData.get_market_datas_by_period(t_date)
x_start_date = datetime(2021, 1, 1)
x_end_date = datetime(2021, 6, 1)
y_end_date = t_date 
daily_xy_horizon_return_matrix = coinAnalytic.get_xy_daily_return_matrix(t_date, x_start_date, x_end_date, y_end_date)
display(daily_xy_horizon_return_matrix)

return_matrix = pd.DataFrame()
return_matrix['A/O Date'] = daily_xy_horizon_return_matrix['Y_End Date']
return_matrix['Cur PX'] = daily_xy_horizon_return_matrix['D0']
return_matrix['1 Day'] = (daily_xy_horizon_return_matrix['D0']-daily_xy_horizon_return_matrix['D1'])/daily_xy_horizon_return_matrix['D1']
return_matrix['1 Week'] = (daily_xy_horizon_return_matrix['D0']-daily_xy_horizon_return_matrix['W1'])/daily_xy_horizon_return_matrix['W1']
return_matrix['1 Month'] = (daily_xy_horizon_return_matrix['D0']-daily_xy_horizon_return_matrix['M1'])/daily_xy_horizon_return_matrix['M1']
return_matrix['3 months'] = (daily_xy_horizon_return_matrix['D0']-daily_xy_horizon_return_matrix['M3'])/daily_xy_horizon_return_matrix['M3']
return_matrix['YTD'] = (daily_xy_horizon_return_matrix['D0']-daily_xy_horizon_return_matrix['Y0_YTD'])/daily_xy_horizon_return_matrix['Y0_YTD']
return_matrix['1 Year'] = (daily_xy_horizon_return_matrix['D0']-daily_xy_horizon_return_matrix['Y1'])/daily_xy_horizon_return_matrix['Y1']
return_matrix['2 Years'] = (daily_xy_horizon_return_matrix['D0']-daily_xy_horizon_return_matrix['Y2'])/daily_xy_horizon_return_matrix['Y2']
return_matrix['3 Years'] = (daily_xy_horizon_return_matrix['D0']-daily_xy_horizon_return_matrix['Y3'])/daily_xy_horizon_return_matrix['Y3']
return_matrix['Start Date'] = daily_xy_horizon_return_matrix['Start Date']
return_matrix['Since Intercept'] = (daily_xy_horizon_return_matrix['D0']-daily_xy_horizon_return_matrix['Start Cost'])/daily_xy_horizon_return_matrix['Start Cost']
return_matrix['Start PX'] = daily_xy_horizon_return_matrix['Start Cost']
return_matrix['Return'] = daily_xy_horizon_return_matrix['XY_Return']
return_matrix

#px_change_matrix = daily_xy_horizon_return_matrix['symbol']
#px_change_matrix 
#row_data = daily_xy_horizon_return_matrix.loc[ 'BTC' , : ]
#display(pd.DataFrame(row_data))

In [ ]:
# Get Price History Marix by Period - Sharpe and 30d roll beta, annual return
t_date = datetime(2022, 2, 21)
px_matrix = coinAnalytic.get_crypto_hist_martix_summary(t_date)
display(px_matrix.loc[px_matrix.index.isin(['BTC','ETH','DPI'])])

In [ ]:
#Get SMA, HIGH, LOW, RS RATING
t_date = datetime(2022, 2, 21)
px_strat = coinAnalytic.get_crypto_px_strat(t_date)
display(px_strat)

In [ ]:
a = coinData.get_price_history_by_period(t_date)
display(a)

In [21]:
import numpy as np
def get_etf_cum_return(etf_name, orig_weight, run_date, orig_date):
    etf_list_array = orig_weight['symbol'].to_numpy()
    print(etf_list_array)
    daily_price_matrix = coinAnalytic.get_price_matrix(orig_weight, (orig_date+ relativedelta(days=-1)), run_date)
    daily_return_matrix = coinAnalytic.get_daily_return_matrix(daily_price_matrix)
    cumulative_returns_matrix =  coinAnalytic.get_cumulative_return_matrix(daily_price_matrix)
    portfolio = daily_price_matrix[etf_list_array]
    return_stocks = portfolio.pct_change()
#return_stocks.head(10)
    initial_weight = orig_weight['weight'].to_numpy()
    daily_returns_portfolio_mean = return_stocks.mean()
    allocated_daily_returns = (initial_weight * daily_returns_portfolio_mean)
    portfolio_return = np.sum(allocated_daily_returns)
#print(portfolio_return)
    return_stocks[etf_name] = return_stocks.dot(initial_weight)
    Cumulative_returns_daily = (1+return_stocks).cumprod()
    Cumulative_returns_daily = Cumulative_returns_daily.dropna()
    #our_etf_df = pd.DataFrame(Cumulative_returns_daily[etf_name].copy())
    #our_etf_df = pd.DataFrame(Cumulative_returns_daily[etf_name].copy())
   # orig_df = pd.DataFrame({etf_name: '1.0'}, index = '2021-07-15')   
    #our_etf_df = our_etf_df.append(orig_df)
    #our_etf_df = our_etf_df.sort_index()
    return Cumulative_returns_daily

In [68]:

orig_df = pd.DataFrame({etf_name: '1.0'}, index = [date(2021, 7, 15)])   
our_etf_df.app

           Metadex
2021-07-15     1.0

In [42]:
run_date = date(2022, 3, 3) #date.today()
etf_name = 'Metadex'


##################### load Data ##################
curr_weight = coinData.get_etf_weight_by_date(etf_name, run_date)
orig_date = date(2021, 7, 15) # Intercept date -- do not change
orig_weight = coinData.get_etf_weight_by_date(etf_name, orig_date)
etf_list_array = orig_weight['symbol'].to_numpy()
etf_return = coinData.get_etf_cum_return(etf_name, orig_weight, run_date, orig_date)
display(etf_return)
#curr_price = (cum_return_df[etf_name]).tail(1)*1000
curr_return = etf_return.iloc[-1][etf_name]
d1_return = etf_return.iloc[-2][etf_name]
w1_return = etf_return.iloc[-2][etf_name]
m1_return = etf_return.iloc[-2][etf_name]
m3_return = etf_return.iloc[-2][etf_name]
m6_return = etf_return.iloc[-2][etf_name]

print(curr_return*1000) 
print(d1_return*1000)
print(w1_return)
print(m1_return) 
print(m3_return)
print(m6_return)

curr_return = etf_return.iloc[0][etf_name]
d1_return = etf_return.iloc[-1][etf_name]

a

             Metadex
date
2021-07-16  0.927823
2021-07-17  0.944000
2021-07-18  0.954208
2021-07-19  0.865744
2021-07-20  0.808967
...              ...
2022-02-26  3.791605
2022-02-27  3.641828
2022-02-28  4.163963
2022-03-01  4.301559
2022-03-03  4.174056

[230 rows x 1 columns]

4174.055736265167
4301.5592858766995
4.301559285876699
4.301559285876699
4.301559285876699
4.301559285876699

In [ ]:
cum_return_df = pd.concat([orig_df,cum_return_df]).reset_index(drop = True)
display(cum_return_df)

In [ ]:
display(daily_return_matrix[['BTC','ETH','DPI']])

In [ ]:
daily_xy_horizon_return_matrix

In [ ]:
sql_query = """
SELECT symbol, min(date), max(date) from CRYPTO_PX_HISTORY group by symbol"""
data_list= pd.read_sql_query(sql_query, crypto_data_connection_string)
data_list.to_csv("c:\\temp\\data_list.csv")

In [ ]:
#Our 3 ETF Sample - 
#file_path = Path('./Reference/sampleETF.csv')
#coinData.create_index_from_csv(file_path, 'ETF_LIST')
#coinData.create_sampleETF
sql_query = """
SELECT * FROM ETF_LIST"""
etf_list= pd.read_sql_query(sql_query, crypto_data_connection_string)
etf_summary = etf_list.merge(data_list, left_on='symbol', right_on='symbol').groupby(['ETF','symbol']).mean().sort_values(by=['ETF','rank'])
etf_summary

In [ ]:
#3 Portfolios - Return analysis 
perf_summary = etf_list.merge(px_matrix, left_on='symbol', right_on='symbol').groupby(['ETF','symbol']).mean().sort_values(by=['ETF','rank'])
perf_summary

In [ ]:
file_path = Path('./Reference/sampleETF.csv')
coinData.create_index_from_csv(file_path, 'ETF_LIST')
coinData.create_sampleETF

In [ ]:
file_path = Path('./Reference/sampleETF.csv')
coinData.create_index_from_csv(file_path, 'ETF_LIST')
file_path = Path('./Reference/Coinbase100.csv')
coinData.create_index_from_csv(file_path, 'COINBASE_100')

In [ ]:
#url = "https://www.ag-grid.com/example-assets/master-detail-data.json"
#df = pd.read_json(url)
#df

data = coinData.get_crypto_px_yf("DPI")
display(data)

In [ ]:
from datetime import datetime
from dateutil.relativedelta import relativedelta
import EfficientFrontierCalculator as ef
# Database connection string
crypto_data_connection_string = 'sqlite:///./Reference/crypto.db'
# Database engine
crypto_data_engine = sql.create_engine(crypto_data_connection_string, echo=True)
#display(etf_list)


def get_etf_list(etf_name):
    #if eft_name is None:
    #    etf_name = "farmdex','Metadex','Ventidex"
    #
    sql_query = f"""
    SELECT * FROM ETF_LIST where ETF = '{etf_name}'"""
    etf_list= pd.read_sql_query(sql_query, crypto_data_connection_string)
    return etf_list


def calculate_save_etf_weight(etf_name, start_date, end_date):
    etf_list = get_etf_list(etf_name)
    symbol_list = pd.DataFrame(etf_list['symbol'].loc[etf_list['ETF']==etf_name])
    symbol_list = symbol_list.reset_index(drop=True)
    #display(symbol_list)
    daily_price_matrix = coinAnalytic.get_price_matrix(symbol_list, start_date, end_date)
    daily_price_matrix.index = pd.to_datetime(daily_price_matrix.index)
    daily_price_dates = daily_price_matrix.loc[daily_price_matrix.index>=t_date]

    
    
    for date in daily_price_dates.index:
        price = daily_price_matrix.loc[daily_price_matrix.index<=date].tail(365)
        weights = ef.calculate_efficient_frontier(price)
        weight_df = pd.DataFrame(columns=['date','ETF', 'symbol', 'weight'])
        index_no = 0
        for weight in weights:
            #print(index_no)
            symbol =  (symbol_list.loc[index_no, 'symbol'])
            print(date)
            if date is not None:
                weight_df = weight_df.append(pd.DataFrame({'date':[date], 'ETF': [etf_name], 'symbol':[symbol], 'weight':[weight]}))
            index_no = index_no + 1
            
            #weight_df = weight_df.dropna
        display(weight_df)
        weight_df.set_index('date', inplace=True)
        weight_df = weight_df.dropna()
        weight_df.to_sql('CRYPTO_ETF_WEIGHT', crypto_data_engine, index=True, if_exists='append')

In [ ]:
#Calculate index Weight based on the date
from dateutil.relativedelta import relativedelta
t_date = datetime(2022, 2, 25)
start_date = t_date + relativedelta(days=-360)
end_date = datetime(2022, 3, 2)
#coinData.drop_table('CRYPTO_ETF_WEIGHT')
etf_list = get_etf_list('Farmdex')
display(etf_list)

coinData.calculate_save_etf_weight('Ventidex', start_date, end_date)
coinData.calculate_save_etf_weight('Farmdex', start_date, end_date)
coinData.calculate_save_etf_weight('Metadex', start_date, end_date)

In [ ]:
etf_list = get_etf_list('Farmdex')
display(etf_list)

In [ ]:
sql_query = """
SELECT * from CRYPTO_ETF_WEIGHT"""
data_list= pd.read_sql_query(sql_query, crypto_data_connection_string)
display(data_list)

In [ ]:

def get_eft_weight(etf_name):
    #calculate_save_etf_weight(etf_list, 'Farmdex', start_date, end_date)
    #calculate_save_etf_weight(etf_list, 'Ventidex', start_date, end_date)
    #calculate_save_etf_weight(etf_list, 'Metadex', start_date, end_date)
    if etf_name == 'YieldFarmingTokens':
        index_name = 'Farmdex'
    elif etf_name == 'TopMetaverseTokens':
        index_name = 'Metadex'
    elif etf_name == 'TopMetaverseTokens':
        index_name = 'Coinbase100'
    
    coins = gp.get_index_coins('YieldFarmingTokens')

In [ ]:

ETF = 'Ventidex'
#end_date = datetime.today()
symbol_list = pd.DataFrame(etf_list['symbol'].loc[etf_list['ETF']==eft_name])
daily_price_matrix = coinAnalytic.get_price_matrix(symbol_list, start_date, end_date)
daily_price_matrix.index = pd.to_datetime(daily_price_matrix.index)
daily_price_dates = daily_price_matrix.loc[daily_price_matrix.index>=t_date]

weight_df = pd.DataFrame(columns=['date','ETF', 'symbol', 'weight'])
display(symbol_list)
for date in daily_price_dates.index:
    display(date)
    price = daily_price_matrix.loc[daily_price_matrix.index<=date].tail(365)
    weights = ef.calculate_efficient_frontier(price)
    display(weights)
    #weight_df = weight_df.append([date, weights])
    index_no = 0
    for weight in weights:
        print(weight)
        symbol =  (symbol_list.loc[index_no, 'symbol'])
        print(index_no)
        weight_df = weight_df.append(pd.DataFrame({'date':date, 'ETF': ETF, 'symbol':symbol, 'weight':weight}, index=[0]))
        index_no = index_no + 1
weight_df.set_index('date', inplace=True)
display(weight_df)
weight_df.to_sql('CRYPTO_ETF_WEIGHT', crypto_data_engine, index=True, if_exists='append')

sql_query = """
SELECT * from CRYPTO_ETF_WEIGHT"""
data_list= pd.read_sql_query(sql_query, crypto_data_connection_string)
display(data_list)

In [ ]:
index_coins =  ['BTC', 'ETH', 'BNB', 'USDC', 'XRP', 'ADA', 'SOL', 'LUNA', 'AVAX']
index_prices = pd.DataFrame()
    
for i in index_coins:
    prices_df = coinData.get_px_history(i)
    prices_df[dprices_df.index)
    prices_list = prices_df['date'].values.tolist()
    index_prices.insert(0, i, prices_list[0:365], True)

index_prices

In [ ]:
daily_price_matrix

In [ ]:
t_date = datetime(2022, 2, 28)
x_start_date = datetime(2021, 7, 14)
x_end_date = datetime(2021, 7, 15)
y_end_date = datetime(2022, 2, 28)
daily_xy_horizon_return_matrix = coinAnalytic.get_xy_daily_return_matrix(t_date, x_start_date, x_end_date, y_end_date)
daily_price_matrix = coinAnalytic.get_price_matrix(daily_xy_horizon_return_matrix, x_start_date, y_end_date)

In [ ]:
eft_list = get_etf_list(Meta)